*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;


}
/* set the body positioning and background color */
body{
    position: relative;
    background: #021200;
    background-size: 100vh;
}

#container{
    position:relative;
    display: grid;
    grid-template-rows: calc(0.5*100vh/3) calc(100vh/3) calc(1.5 * 100vh/3);
    width: 100vw;
    height: 100vh;
}

#img-container{
    position: relative;
    /* grid-area: 3/1/3/1; */
    grid-row: 3;
    height: calc(100vh/3);
}
h1{
    display: none;
    color: #f8ff79;
    font-size: 1vw;
    font-weight: 300;
    margin-top: 10%;
    
}

/* text styling*/
.text{
    position: flex;
    /* grid-area: 2/1/2/1;  */

}

.text a{
    background:rgb(103, 100, 78);
    color: white;
    text-decoration: none;
    padding: 1%;
    text-shadow: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 1.5vw;
    font-weight: 600;
    margin-bottom: 2%;
}
.text a:hover{
    color: rgb(103, 100, 78);
    background: white;
}
h2{
    color: #89eaa1;
    font-size: 4vw;
}


h3{
    color: #fff;
    font-weight: 300;
    font-size: 2vw;
}
h4{
    color: #fff;
    font-size: 1.2vw;
    font-weight: 300;
    margin-top: 2%;
}
h5{
    color: #ecefac;
    font-size: 1vw;
    font-weight: 300;
}
h6{
    color: #ecefac;
    font-size: 1vw;
    font-weight: 300;
    margin-bottom: 3%;
}

/*overlay summary styling, set z-index to -1 and opacity to 0
to hide summary when it is not active */
.overlay-summary{
    position: absolute;
    top:0;
    left: 0;
    padding-top: 10%;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    z-index: -1;
    opacity: 0;
    overflow: hidden;

}
/* overlay summary close button styling */
.overlay-summary .close-btn{
    position: absolute;
    top:2%;
    right: 4%;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-size: 3em;
}

/* overlay summary text styling */
.overlay-summary p{
    padding: 10%;
    color: #f8ff79;
    font-weight: 200;
    font-size: 1em;
}

/* info icon styling */
#nav{
    position: relative;
    grid-area: 1/1/1;
    display: flex; /* align items with auto width and auto height*/ 
    justify-content: center;
    grid-row: 1;
    grid-gap: 5vw;
}

#image-container nav a{
    color: white;
    font-weight: 400;
    background: rgb(103, 100, 78);
    top:2%;
    margin-left: 4%;
    margin-top: 4%;
    padding: 0.5%;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 1vw;
}


ion-icon {
     /* position: absolute;  */
    font-size: 2.5vw;
    /* top:2%;
    right: 4%; */
    color: white;
    cursor: pointer;
    padding-right:5%;
    padding-left:5%;
    padding-top: 2%;

}

ion-icon:hover{
    color: white;
    font-size: 3vw;
    filter: drop-shadow(0 0 10px rgb(245, 245, 119));
}
/* expose summary when summary is active*/
body.activeSummary .overlay-summary{
    z-index: 2;
    opacity: 1;
}
   
.our-team{
    text-align: center;
    width: 50vw;
    height: auto;
    padding: 5vw;
}
.row {
    display: flex;
    margin-bottom: 5vh;
  }
  
  .column {
    flex: 50%;
    padding: 5px;
  }

  .row2 {
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    width: 50%;
  }
  


.our-team .team_img{
    position: relative;
    overflow: hidden;
}

.our-team .team_img:after{
    content: "";
   width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.2);
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: all 0.3s ease 0s;
}
.our-team:hover .team_img:after{
    bottom: 0;
}
.our-team img{
    width: 30vw;
    height: 400px;
    object-fit: cover;
}

.our-team .team-content{
    padding: 20px 0;
    background: #fff;
}
.our-team .title{
    font-size: 18px;
    font-weight: bold;
    color: #2a4284;
    text-transform: capitalize;
    margin: 0 0 20px;
    position: relative;
}
.our-team .title:before{
    content: "";
    width: 25px;
    height: 1px;
    background: #021200;
    position: absolute;
    bottom: -10px;
    right: 50%;
    margin-right: 9px;
    transition-duration: 0.25s;
}
.our-team .title:after{
    content: "";
    width: 25px;
    height: 1px;
    background: #021200;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: 9px;
    transition-duration: 0.25s;
}
.our-team:hover .title:before,
.our-team:hover .title:after{
    width: 50px;
}
.our-team .post{
    display: inline-block;
    font-size: 15px;
    color:  #f76c5e;
    text-transform: capitalize;
}
.our-team .post:before{
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #021200;
    margin: 0 auto;
    position: relative;
    top: -13px;
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}
