*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;


}

/* set the body positioning and background color */
body{
    position: relative;
    background: #021200;
    background-size: 100vh;
}

/* use display grid for entire grid with three rows, with the biggest row being the last row */
#container{
    position:relative;
    display: grid;
    grid-template-rows: calc(0.5*100vh/3) calc(100vh/3) calc(1.5 * 100vh/3);
    width: 100vw;
    height: 100vh;
}

/* styling for the last div with image injections */
#img-container{
    position: relative;
    grid-row: 3;
    height: calc(100vh/3);
}

/* text styling*/
.text{
    position: relative;
    grid-row:2; 
    height: calc(100vh/3);

}

/* button styling */
.text a{
    background:rgb(103, 100, 78);
    color: white;
    text-decoration: none;
    padding: 1%;
    text-shadow: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 1.5vw;
    font-weight: 600;
    margin-bottom: 2%;
}
.text a:hover{
    color: rgb(103, 100, 78);
    background: white;
}

/* Text styling */

h1{
    display: none;
    color: #f8ff79;
    font-size: 1vw;
    font-weight: 300;
    margin-top: 10%;
    
}

h2{
    color: #89eaa1;
    font-size: 5vw;
}


h3{
    color: #f8ff79;
    font-weight: 300;
    font-size: 2vw;
}
h4{
    color: #fff;
    font-size: 1.2vw;
    font-weight: 300;
    margin-top: 2%;
}
h5{
    color: #ecefac;
    font-size: 1vw;
    font-weight: 300;
}
h6{
    color: #ecefac;
    font-size: 1vw;
    font-weight: 300;
    margin-bottom: 3%;
}

/*overlay summary styling, set z-index to -1 and opacity to 0
to hide summary when it is not active */
.overlay-summary{
    position: absolute;
    top:0;
    left: 0;
    padding-top: 10%;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    z-index: -1;
    opacity: 0;
    overflow: hidden;

}
/* overlay summary close button styling */
.overlay-summary .close-btn{
    position: absolute;
    top:2%;
    right: 4%;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-size: 3em;
}

/* overlay summary text styling */
.overlay-summary p{
    padding: 10%;
    color: #f8ff79;
    font-weight: 200;
    font-size: 1em;
}

/* info icon styling */
#nav{
    position: relative;
    display: flex; /* align items with auto width and auto height*/ 
    justify-content: center;
    grid-row: 1;
    grid-gap: 5vw;
}

#image-container nav a{
    color: white;
    font-weight: 400;
    background: rgb(103, 100, 78);
    top:2%;
    margin-left: 4%;
    margin-top: 4%;
    padding: 0.5%;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 1vw;
}

/* icon styling */
ion-icon {
     /* position: absolute;  */
    font-size: 2.5vw;
    color: white;
    cursor: pointer;
    padding-right:5%;
    padding-left:5%;
    padding-top: 2%;

}

/* special styling when icon is hovererd over */
ion-icon:hover{
    color: white;
    font-size: 3vw;
    filter: drop-shadow(0 0 10px rgb(245, 245, 119));
}
/* expose summary when summary is active*/
body.activeSummary .overlay-summary{
    z-index: 2;
    opacity: 1;
}

